@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Bungee', monospace;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
      217deg,
      rgba(248, 63, 63, 0.8),
      rgba(250, 104, 104, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(53, 250, 53, 0.8), rgba(62, 250, 62, 0) 70.71%),
    linear-gradient(
      336deg,
      rgba(124, 124, 252, 0.8),
      rgba(72, 72, 248, 0) 70.71%
    );
  color: #222;
}
/* score */
.score {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 2rem auto;
}
.score__player,
.score__computer {
  padding: 0 2rem;
}
.score__player {
  border-right: 5px solid #222;
}

/* ball */
.ball {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in 0.2s;
}

.paddle {
  position: absolute;
  height: 15rem;
  width: 2rem;
  background: #222;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 30px;
}
.paddle--left {
  left: 3rem;
}
.paddle--right {
  right: 3rem;
}
