@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Bungee', monospace;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
      217deg,
      rgba(245, 39, 39, 0.8),
      rgba(252, 80, 80, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(14, 238, 14, 0.8), rgba(50, 168, 50, 0) 70.71%),
    linear-gradient(336deg, rgba(56, 56, 252, 0.8), rgba(64, 64, 187, 0) 70.71%);
  color: #222;
}
/* score */
.score {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin: 2rem auto;
  opacity: 0.8;
}
.score__player,
.score__computer {
  padding: 0 2rem;
}
.score__player {
  border-right: 5px solid #222;
}

/* ball */
.ball {
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
  background: rgb(17, 2, 2);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  /* transition: all ease-in 0.2s; */
}

.paddle {
  position: absolute;
  height: 15vh;
  width: 1rem;
  background: rgb(66, 62, 62);
  transform: translateY(-50%);
  top: 50%;
  border-radius: 3px;
  /* transition: all ease-in 0.02s; */
}
.paddle--left {
  left: 1rem;
}
.paddle--right {
  right: 1rem;
}
/* test */
.test {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  border: 3px solid black;
  position: absolute;
}
.box-a {
  top: 25rem;
  left: 5rem;
}
.box-b {
  top: 15rem;
  left: 10rem;
}
